#headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}
#dateTime {
  display: flex;
}
#dateTime > h5:last-child {
  color: white;
}
#dateTime > h5 > span {
  font-weight: bold;
  color: rgb(0, 253, 0);
  width: 2rem;
  height: 100px;
}
.dateTime {
  font-weight: bold;
  color: red;
}

#logIn {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 32px;

  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  transition: background-color 0.2s;
}
#logIn:hover {
  background-color: lightblue;
}
#logIn img {
  width: 35px;
}
#logIn > p {
  position: absolute;
  color: white;
  background-color: grey;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  left: 1px;
  right: 1px;
  bottom: -22px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  border: none;
}

#logIn:hover > p {
  opacity: 1;
}

#logIn > p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}



/* for loginform */
#loginForm {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center; 
  align-items: center; 

}

.logIn-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

form input {
  width: 100%; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #2581a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
/*for Sign up form*/


#signUp-content {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "logo errorMessage" 
  "registerForm errorMessage"
  "help errorMessage"
  ;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 600px;
  max-width: 1000px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
#signUp-content > *:nth-child(odd) {
  padding: 20px;
  margin-left: 10px;
}

#help {
  grid-area:help ;
}

#slideShowContainer {
  grid-area: errorMessage;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  width: 100%;
  height: 100%;
}
#Slideshow-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* for main Homepage*/
.homepage {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 80rem;
}


/* FIRST SECTION*/

#welcome {
  position: relative;
  background-image: linear-gradient(rgba(10, 10, 2, 0.85), rgba(10, 10, 2, 0.85)), url("../images/forhomepage/homepagewelcomebackground.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
  "HomeOthers welcomeLogo UsOthers"
  ". welcomeMessage ."
  ". welcomeButtons ."
  ;
}

#welcome > #welcomeOne {
  grid-area: HomeOthers;
  position: absolute;
  bottom: 10px;
}
#welcomeOne > a {
  margin-right: 20px;
  text-decoration: none;
  color: white; 
}

#welcomeOne a:last-child {
  margin-right: 0;
}

#welcome > #welcomeTwo {
 grid-area: UsOthers;
 position: absolute;
 bottom: 10px;
}

#welcomeTwo > a {
  margin-right: 20px;
  text-decoration: none;
  color: white; 
}

#welcomeTwo a:last-child {
  margin-right: 0;
}
#welcome > #welcomeLogo {
  grid-area: welcomeLogo ; /* lagyan pa*/
}
#welcome > #welcomeMessage {
  grid-area: welcomeMessage;
  text-align: center;
  color: white;
}

#welcome > #welcomeButtons {
  grid-area: welcomeButtons;
}

/* for SECOND SECTION */
#menu {
  background-color: lightsalmon;
  height: 10vh;
}
#registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "firstName lastName"
  "email email"
  "phoneNumber phoneNumber"
  "address address"
  "password password"
  "confirmPassword confirmPassword"
  "signupClick signupClick"
  "textSignUp backBtn"
  ;
  grid-area: registerForm;
  justify-content: center;
  align-items: center; 
  position: relative;
  margin: 0;
  padding: 1px;
}
.textSignUp {
  position: absolute;
  right: 10px  ;
  display: inline-block;
  margin: 0;
  grid-area: textSignUp;
  color: grey;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}
#backBtn {
  grid-area: backBtn;
  color: white;
  justify-content: flex-start;
  align-items: center;
  justify-self: start;
  padding: 10px;
  margin-top: 5px;
  width: 100px;
  font-size: 10px;
}

#firstName {
  grid-area: firstName;
  display: flex;
  max-width: 120px;

}
#lastName {
  grid-area: lastName;
  display: flex;
  max-width: 114px;
}
#containerEmail {
  grid-area: email;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}

#errorEmail{
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}
#containerPhone {
  grid-area: phoneNumber;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}
#errorPhone {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}
#address {
  grid-area: address;
  display: flex;
  max-width: 263px;
  margin-right: 5px;
}
#containerPassword {
  grid-area: password;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  position: relative;
  margin-right: 5px;
}
#errorPassword {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}

#containerConfirm{
  grid-area: confirmPassword;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}
#errorConfirmPassword {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}
#signupClick {
  grid-area: signupClick;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-right: 10px ;
  max-width: 220px;
  margin-top: 5px;

}

.no-scroll {  
  overflow: hidden; /* Hide scrollbars */
}

#verificationForm {
  display: none;
  position: relative;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 1000px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
#verificationForm > div {
  display: flex;
}
#verificationForm > div > input {
  width: 200px;
  margin-right: 5px;
}


#verificationForm > div > {
  justify-content: center;
  width: 200px;
  padding: 10px;
  background-color: #2581a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* for GUI*/

/* Initial hidden state of the log out button */
#logOut {
  position: absolute;
  left: 90%;
  right: 1px; 
  bottom: -42px;
  opacity: 0;
}
#login:hover > #logOut {
  opacity: 1;
}
#MyAccount {
  position: absolute;
  left: 90%;
  right: 1px; 
  bottom: -22px;
  opacity: 0;
}
#login:hover > #MyAccount {
  opacity: 1;
}



