/* color palette */

:root {
  /* Color palette */
  --cocoa-brown: hsla(29, 85%, 44%, 1);
  --black-olive: hsla(138, 12%, 17%, 1);
  --jasper: hsla(8, 61%, 54%, 1);
  --kobicha: hsla(29, 47%, 30%, 1);
  --black-olive-2: hsla(146, 15%, 21%, 1);
}

html, body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#show-cart-button {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between icon and count */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white; /* Cocoa brown color */
  border: none;
  cursor: pointer;
  animation: waterBackground 4s ease infinite;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

#cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--black-olive); /* Alert color for count */
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
}

#show-cart-button:hover {
  background-color: var(--jasper); /* Change color on hover */
  transform: scale(1.05); /* Slight scale effect */
}

main {
  flex: 1; /* This makes the main content take up available space */
}

#headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
#dateTime {
  display: flex;
}
#dateTime > h5:last-child {
  color: white;
}
#dateTime > h5 > span {
  font-weight: bold;
  color: rgb(0, 253, 0);
  width: 2rem;
  height: 100px;
}
.dateTime {
  font-weight: bold;
  color: red;
}

#logIn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background: linear-gradient(135deg, #d3d3d3, #ffffff, #b0c4de, #4facfe, #d3d3d3, #ffffff);
  background-size: 400% 400%;
  animation: waterBackground 4s ease infinite;
  /*
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 32px;

  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  transition: background-color 0.2s;
  */
}
/*
#logIn:hover {
  background-color: lightblue;
}
*/
#logIn img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
#logIn > p {
  position: absolute;
  color: white;
  background-color: grey;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: px;
  left: 1px;
  right: 1px;
  bottom: -32px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  border: none;
}

#logIn:hover > p {
  opacity: 1;
}

#logIn > p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}



/* for loginform */
#loginForm {
  display: none;
  position: fixed;
  z-index: 101; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center; 
  align-items: center; 

}
.logIn-content {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "loginLogo close"
  "form form"
  "signUp signUp"
  ;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#welcomeSign {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  background-color: var(--cocoa-brown); /* Button background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Spacing around text */
  border: none;
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Makes it respect padding like a button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Makes the text bold */
  cursor: pointer; /* Changes cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

#welcomeSign:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
.signUpHomepage {
  grid-area: signUp;
}
.logIn-content > form {
  grid-area: form;
  
}
.logIn-content > form > input{
  max-width: 380px;
}
#closeBtn {
  grid-area: close;
  justify-self: end;
}
.loginLogo{
  grid-area: loginLogo;
  justify-self: end;
  margin-right: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

form input {
  width: 100%; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #2581a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
/*for Sign up form*/


#signUp-content {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "logo errorMessage" 
  "registerForm errorMessage"
  "help errorMessage"
  ;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 600px;
  max-width: 1000px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
#signUp-content > *:nth-child(odd) {
  padding: 20px;
  margin-left: 10px;
}

#help {
  grid-area:help ;
}

#slideShowContainer {
  grid-area: errorMessage;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  width: 100%;
  height: 100%;
}
#Slideshow-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#logo {
  grid-area: logo;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background: linear-gradient(135deg, #d3d3d3, #ffffff, #b0c4de, #4facfe, #d3d3d3, #ffffff);
  background-size: 400% 400%;
  animation: waterBackground 4s ease infinite;
}
#logo > img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}



/* for main Homepage*/
.homepage {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 50rem;
}


/* FIRST SECTION*/

#welcome {
  min-height: 30em;
  position: relative;
  background-image: linear-gradient(rgba(10, 10, 2, 0.85), rgba(10, 10, 2, 0.85)), url("../images/forhomepage/homepagewelcomebackground2.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
  "HomeOthers welcomeLogo UsOthers"
  ". welcomeMessage ."
  ". welcomeButtons ."
  ;
}

#welcomeLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -50px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background: linear-gradient(135deg, #d3d3d3, #ffffff, #b0c4de, #000407, #d3d3d3, #ffffff);
  background-size: 400% 400%;
  animation: waterBackground 8s ease infinite ;

}
#welcomeLogo::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 128, 255, 0.5), 0 0 40px 10px rgba(255, 0, 128, 0.5), 0 0 60px 15px rgba(255, 251, 1, 0.829);
  animation: inkShadow 6s ease-in-out infinite alternate, rotateAndScale 4s ease-in-out infinite alternate;
  filter: blur(1px); /* Softens the shadow to create an ink effect */
} 



#welcomeLogo > img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  justify-items: center;
  position: absolute;
  bottom: -10px;
  right: -10px;

}
#welcome > #welcomeOne {
  grid-area: HomeOthers;
  position: absolute;
  bottom: 10px;
  z-index: 2;
}
#welcomeOne > a {
  margin-right: 20px;
  text-decoration: none;
  color: white; 
}

#welcomeOne a:last-child {
  margin-right: 0;
}

#welcome > #welcomeTwo {
 grid-area: UsOthers;
 position: absolute;
 bottom: 10px;
}

#welcomeTwo > a {
  margin-right: 20px;
  text-decoration: none;
  color: white; 
}

#welcomeTwo a:last-child {
  margin-right: 0;
}
#welcome > #welcomeLogo {
  grid-area: welcomeLogo ; /* lagyan pa*/
}
#welcome > #welcomeMessage {
  grid-area: welcomeMessage;
  text-align: center;
  color: white;
}

#welcome > #welcomeButtons {
  grid-area: welcomeButtons;
}

/* for SECOND SECTION */

.menu-section {
  text-align: center;
  margin: 2rem auto;
  padding: 0 1rem;
}

.menu-grid {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.menu-item {
  width: 280px; /* Adjust width as needed */
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item img {
  width: 100%;
  height: 180px; /* Adjust height for uniformity */
  object-fit: cover; /* Ensures the image fits properly */
  border-bottom: 1px solid #ddd;
}

.menu-item h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* For registration form */

#registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "firstName lastName"
  "email email"
  "phoneNumber phoneNumber"
  "address address"
  "password password"
  "confirmPassword confirmPassword"
  "signupClick signupClick"
  "textSignUp backBtn"
  ;
  grid-area: registerForm;
  justify-content: center;
  align-items: center; 
  position: relative;
  margin: 0;
  padding: 1px;
}
.textSignUp {
  position: absolute;
  right: 10px  ;
  display: inline-block;
  margin: 0;
  grid-area: textSignUp;
  color: grey;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}
#backBtn {
  grid-area: backBtn;
  color: white;
  justify-content: flex-start;
  align-items: center;
  justify-self: start;
  padding: 10px;
  margin-top: 5px;
  width: 100px;
  font-size: 10px;
}

#firstName {
  grid-area: firstName;
  display: flex;
  max-width: 120px;

}
#lastName {
  grid-area: lastName;
  display: flex;
  max-width: 114px;
}
#containerEmail {
  grid-area: email;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}

#errorEmail{
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}
#containerPhone {
  grid-area: phoneNumber;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}
#errorPhone {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}
#address {
  grid-area: address;
  display: flex;
  max-width: 263px;
  margin-right: 5px;
}
#containerPassword {
  grid-area: password;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  position: relative;
  margin-right: 5px;
}
#errorPassword {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
}

#containerConfirm{
  grid-area: confirmPassword;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 263px;
  margin-right: 5px;
  position: relative;
}
#errorConfirmPassword {
  color: red;
  margin: 0;
  position: absolute;
  bottom: -8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}
#signupClick {
  grid-area: signupClick;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-right: 10px ;
  max-width: 220px;
  margin-top: 5px;

}

.no-scroll {  
  overflow: hidden; /* Hide scrollbars */
}

#verificationForm {
  display: none;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "backBtn2"
  "emailSentTo"
  "verifyCode"
  "verification"  
  ;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 1000px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#backBtn2 {
  grid-area: backBtn2;
}
#verificationForm > p {
  grid-area: emailSentTo;
}
#verificationForm > div {
  display: flex;
  grid-area: verifyCode;
}

#verificationForm > div > input {
  width: 200px;
  margin-right: 5px;
}

#verificationForm > div > {
  justify-content: center;
  width: 200px;
  padding: 10px;
  background-color: #2581a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#verification {
  grid-area: verification;
}

/* for GUI*/

/* Initial hidden state of the log out button */
#logOut {
  position: absolute;
  left: 90%;
  right: 1px; 
  bottom: -42px;
  opacity: 0;
}
#login:hover > #logOut {
  opacity: 1;
}
#MyAccount {
  position: absolute;
  left: 90%;
  right: 1px; 
  bottom: -22px;
  opacity: 0;
}
#login:hover > #MyAccount {
  opacity: 1;
}

/* FOOTER */
.footer {
  position: static;
  background-color: var(--black-olive);
  color: #fff;
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

.footer-apps img {
  width: 120px;
  margin-bottom: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 1rem;
  margin-top: 2rem;
}

.social-icons a {
  color: #fff;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: #ddd;
}


@keyframes waterBackground {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 100%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 0%; }
  100% { background-position: 0% 50%; }
}

@keyframes shapeMorph {
  0% { border-radius: 50%; }         /* Circle */
  25% { border-radius: 25%; }        /* Square with rounded corners */
  50% { border-radius: 50% 25%; }    /* Oval */
  75% { border-radius: 10%; }     /*square with round corner */
  100% { border-radius: 50%; }       /* Back to circle */


}

@keyframes inkMorph {
  0% { clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 30% 75%, 0% 38%); }
  25% { clip-path: polygon(50% 0%, 85% 25%, 100% 75%, 30% 100%, 0% 50%); }
  50% { clip-path: polygon(50% 10%, 100% 38%, 70% 90%, 25% 85%, 5% 50%); }
  75% { clip-path: polygon(45% 0%, 95% 20%, 100% 75%, 25% 100%, 0% 45%); }
  100% { clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 30% 75%, 0% 38%); }
}

/* Keyframes for random rotation */
@keyframes randomRotate {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(15deg) scale(1.1); }
  50% { transform: rotate(-15deg) scale(1.05); }
  75% { transform: rotate(10deg) scale(1.1); }
  100% { transform: rotate(0deg) scale(1); }
}


@keyframes inkShadow {
  0% {
    box-shadow: 0 0 20px 5px rgba(0, 128, 255, 0.5), 0 0 40px 10px rgba(255, 0, 128, 0.5), 0 0 60px 15px rgba(128, 0, 255, 0.5);
  }
  25% {
    box-shadow: 0 0 20px 5px rgba(0, 255, 128, 0.5), 0 0 40px 10px rgba(128, 0, 255, 0.5), 0 0 60px 15px rgba(255, 128, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 0, 128, 0.5), 0 0 40px 10px rgba(0, 128, 255, 0.5), 0 0 60px 15px rgba(128, 255, 0, 0.5);
  }
  75% {
    box-shadow: 0 0 20px 5px rgba(128, 0, 255, 0.5), 0 0 40px 10px rgba(255, 128, 0, 0.5), 0 0 60px 15px rgba(0, 255, 128, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(0, 128, 255, 0.5), 0 0 40px 10px rgba(255, 0, 128, 0.5), 0 0 60px 15px rgba(128, 0, 255, 0.5);
  }
}

/* Optional rotation and scale for added dynamic effect */
@keyframes rotateAndScale {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}


